body {
    margin: 0;
    background: url("assets/bg.jpg") no-repeat center;
    background-size: cover;
    font-family: Arial;
}

.console {
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
}

.logo {
    width: 180px;
    margin: 20px;
}

#emulator {
    width: 90%;
    height: 300px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px #00ffcc;
}

.controls button {
    margin: 10px;
    padding: 12px 18px;
    background: #00ffcc;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}
